@font-face {
    font-family: 'Open Sans' ;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Vend Sans';
    src: url(VendSans-VariableFont_wght.ttf);
}

h1 {
    font-family: 'Open Sans';
}

h2 {
    font-family: 'Vend Sans';
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}